
@import 'mixins';

$body_bg: #343A40;

.spacer {
    margin-top: 10px;
}


body {
    background-color: $body_bg;
}

// Main Nav on left
#mainmav {
    background-color: #343A40;

    li a {
        color: white;
        font-weight: bold;
        font-size: 1.2em;
        border-radius: 0;
    }

    li a:hover {
        background-color: #BE2929;
    }

    li a.active {
        background-color: #E02222;
    }

}

.content_wrapper {
    background-color: white;
    margin: 0;
    padding: 0;
    min-height: 800px;
}

.content_wrapper h1 {
    @include horizontal_gradient(#eeeeee, $body_bg, 80%);
    font-size: 1.7em;
    color: #444444;
    margin: 0;
    padding: 3px 5px;

}

.content {
    margin: 10px;
}


