[*.{cpp}]
guidelines = 80, 120
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space

[*.sh]
end_of_line = lf

# For the CMake files
[*.txt]
indent_style = space
indent_size = 4
