# where docs are output to on gitlab.. MUST be named public/
public/

.sass-cache/
.idea/

*.pyc
webserver/core/hardware_layer.cpp
webserver/core/glueVars.cpp

# IDE files for Visual Studio Code and Visual Studio
CMakeSettings.json
*.vscode/
*.vs/

# Build directories
webserver/bin
webserver/build
obj/
utils/dnp3_src/CMakeFiles/
webserver/scripts/ethercat

# Runtime directories
.venv
