# where docs are output to on gitlab.. MUST be named public/
public/

.sass-cache/
.idea/
.settings/
.classpath
.project
target/

*.pyc

# IDE files for Visual Studio Code and Visual Studio
CMakeSettings.json
*.vscode/
*.vs/

# Build directories
.libs/
bin/
build/
include/
lib/
out/
obj/
share/

*.exe
*.o
*.s
*.ii

# DNP3 config file
webserver/core/dnp3.cfg

# Dependency source files - it would be better to control
# the location of the build, but that's for another day
utils/libmodbus_src/
utils/matiec_src/

# Intellectual property
etc/

# Misc
install_log.txt
