<!doctype html>
<html lang="en">
<head>
    {# The 3 meta tags below *must* come first in the head; any other head content must come *after* these tags  #}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags  #}

    <title>{{title}} | OpenPLC</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/openplc.1.css">

</head>
<body>


{# --------------- Page Top + Toolbar #}
<div class='top'>
    <img src='/static/openplc_logo.gif' alt='OpenPLC' style="width:101px;height:40px;padding:5px 0px 0px 10px;float:left;">
    <h3 style="font-family:'Roboto', sans-serif; font-size:18px; color:white; padding:13px 111px 0px 0px; margin: 0px 0px 0px 0px"><center>OpenPLC Webserver</center></h3>
</div>


{# ------------------------- main body #}
<div class='main'>

     {# --- Navigation #}
     <div class='w3-sidebar w3-bar-block' style='width:250px; background-color:#3D3D3D'>
            <br>
            <br>
            {% for n in nav %}
            <a href="/{{n.page}}" class="w3-bar-item w3-button"
            {% if n.page == c.page %} style="background-color:#E02222; padding-right:0px;padding-top:0px;padding-bottom:0px" {%endif%}
            ><img src="/static/{{n.icon}}" alt="{{n.label}}" style="width:47px;height:32px;padding:0px 15px 0px 0px;float:left">
            {% if n.page == c.page %}<img src="/static/arrow.png" style="width:17px;height:49px;padding:0px 0px 0px 0px;margin: 0px 0px 0px 0px; float:right">{%endif%}
                <p style='font-family:"Roboto", sans-serif; font-size:20px; color:white;margin: 2px 0px 0px 0px'>{{n.label}}</p></a>

            {% endfor %}

            <br>
            <br>
     </div>

    {# --- Content #}
    <div style="margin-left:320px; margin-right:70px">
            <div style="w3-container">
                <h2>{{title}}</h2>
                {% block content %}## content##{% endblock content %}

            </div>
    </div>


</div>

<hr>
    <pre>
        {#
{{current_user.is_authenticated}}
{{current_user.name}} #}
        </pre>
</body>
</html>