<!doctype html>
<html lang="en">
<head>
    {# The 3 meta tags below *must* come first in the head; any other head content must come *after* these tags  #}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags  #}

    <title>{{title}} | OpenPLC</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">


    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/openplc.2.css">

</head>
<body>


{# --------------- Page Top + bar #}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img src='/static/openplc_logo.gif' height="40" alt='OpenPLC'></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topbar" aria-controls="topbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topbar">


        <ul class="navbar-nav ml-auto">



             <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">Project</a>
                <div class="dropdown-menu">
                    <a href="http://www.openplcproject.com/" target="homesweethome" class="dropdown-item">openplcproject.com</a>
                    <a href="https://openplc.discussion.community/" target="forum" class="dropdown-item">Forums</a>
                    <a href="https://github.com/thiagoralves/OpenPLC_v3" target="github" class="dropdown-item">GitHub project</a>
                </div>
             </li>

              <li class="nav-item">
                 <a class="nav-link" href="/"><i class="fa fa-user"></i> {{current_user.username}}</a>
            </li>

        </ul>

     </div>
</nav>


{# ------------------------- main body #}
<div class="sscontainer-fluid spacer">

    <div class="row no-gutters">
        <div class="col-md-3">

            {# --- Main Navigation #}
           <ul class="nav nav-pills flex-column" id="mainmav">
                {% for n in nav -%}
                <li class="nav-item">
                    <a href="/{{n.page}}" class="nav-link{% if n.page == c.page %} active{%endif%}"
                         ><i class="fa {{n.icon}}"></i>&nbsp;{{n.label}}</a>
                </li>
                {%- endfor %}
            </ul>

        </div>
        <div class="col-md-9 content_wrapper">
            <h1><i class="fa {{c.icon}}"></i>&nbsp;{{title}}</h1>
            <div class="content">{% block content %}## content##{% endblock content %}</div>
        </div>

    </div>
</div>

<footer>
<hr>
</footer>

<script src="/static/jquery-3.2.1.slim.min.js"></script>
<script src="/static/bootstrap.min.js"></script>

</body>
</html>