
{% extends "BASE.html" %}

{% set title = "Compiling" %}


{% block content %}


<textarea id="log" style="height:250px; resize:vertical; width: 100%;">idle</textarea>

<a deadhref='dashboard' id='ping' class='btn btn-success' >Compile</a>




<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
var PROG_ID = {{c.prog_id}};

$(document).ready(function(){
    var textbox = $('#log');
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('xmessage', function(msg) {
        console.log(msg);
        textbox.val( textbox.val() + msg.data + "\n");
    });

    socket.on('connect', function() {
        console.log("connected");
        socket.emit('my event', {data: 'I\'m connected!'});
    });

    $('#ping').click(function(event) {
        textbox.val("");
        var d = new Date();
        socket.emit('compile', {ping: d.toJSON(), prog_id: PROG_ID });
        return false;
    });

});

</script>



<center><a href='dashboard' id='dashboard_button' class='button' style='background-color: #EDEDED; pointer-events: none; width: 310px; height: 53px; margin: 0px 20px 0px 20px;'><b>Go to Dashboard</b></a></center>
{% endblock content %}