
{% extends "BASE.html" %}

{% set title = "Compiling" %}


{% block content %}


<textarea id="mytextarea" style="height:500px; resize:vertical">
loading logs...
</textarea>


<center><a href='dashboard' id='dashboard_button' class='button' style='background-color: #EDEDED; pointer-events: none; width: 310px; height: 53px; margin: 0px 20px 0px 20px;'><b>Go to Dashboard</b></a></center>


<script>
(function (global)
{
    if(typeof (global) === "undefined")
    {
        throw new Error("window is undefined");
    }

    var _hash = "!";
    var noBackPlease = function ()
    {
        global.location.href += "#";

        // making sure we have the fruit available for juice....
        // 50 milliseconds for just once do not cost much (^__^)
        global.setTimeout(function ()
        {
            global.location.href += "!";
        }, 50);
    };

    // Earlier we had setInerval here....
    global.onhashchange = function ()
    {
        if (global.location.hash !== _hash)
        {
            global.location.hash = _hash;
        }
    };

    global.onload = function ()
    {
        loadData();
        noBackPlease();

        // disables backspace on page except on input fields and textarea..
        document.body.onkeydown = function (e)
        {
            var elm = e.target.nodeName.toLowerCase();
            if (e.which === 8 && (elm !== 'input' && elm  !== 'textarea'))
            {
                e.preventDefault();
            }
            // stopping event bubbling up the DOM tree..
            e.stopPropagation();
        };
    };
})(window);

var req;

function loadData()
{
    url = 'compilation-logs'
    try
    {
        req = new XMLHttpRequest();
    } catch (e)
    {
        try
        {
            req = new ActiveXObject('Msxml2.XMLHTTP');
        } catch (e)
        {
            try
            {
                req = new ActiveXObject('Microsoft.XMLHTTP');
            } catch (oc)
            {
                alert('No AJAX Support');
                return;
            }
        }
    }

    req.onreadystatechange = processReqChange;
    req.open('GET', url, true);
    req.send(null);
}

function processReqChange()
{
    //If req shows 'complete'
    if (req.readyState == 4)
    {
        compilation_logs = document.getElementById('mytextarea');
        dashboard_button = document.getElementById('dashboard_button');

        //If 'OK'
        if (req.status == 200)
        {
            //Update textarea text
            compilation_logs.value = req.responseText;
            if ((req.responseText.search("Compilation finished with errors!") != -1) || (req.responseText.search("Compilation finished successfully!") != -1))
            {
                dashboard_button.style.background='#E02222'
                dashboard_button.style.pointerEvents='auto'
            }

            //Start a new update timer
            timeoutID = setTimeout('loadData()', 1000);
        }
        else
        {
            compilation_logs.value = 'There was a problem retrieving the logs. Error: ' + req.statusText;
        }
    }
}
</script>
{% endblock content %}