
{% extends "BASE.html" %}

{% set title = "Slave Devices" %}



{% block content %}

<p>List of Slave devices attached to OpenPLC.</p>
<p><b>Attention:</b> Slave devices are attached to address 100 onward (i.e. %IX100.0, %IW100, %QX100.0, and %QW100)
<table>
    <thead>
        <tr style='background-color: white'>
            <th>Device Name</th><th>Device Type</th><th>DI</th><th>DO</th><th>AI</th><th>AO</th>
        </tr>
    </thead>
    <tbody>
        {% for row in c.devices %}
        <tr>
            <td>{{row[0]}}</td><td>{{row[1]}}</td><td>{{row[2]}}</td><td>{{row[3]}}</td><td>{{row[4]}}</td><td>{{row[5]}}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<center><a href="/modbus/add" class="button" style="width: 310px; height: 53px; margin: 0px 20px 0px 20px;"><b>Add new device</b></a></center>

{% endblock content %}