
{% extends "BASE.html" %}

{% set title = "Monitoring" %}


{% block content %}

<p>The table below displays a list of the OpenPLC points used by the currently
    running program. By clicking in one of the listed points it is
    possible to see more information about it and also to force it to be a different value.
</p>
<table class="table table-bordered table-hover">
<col width="50"><col width="10"><col width="10"><col width="10"><col width="100">
<thead>
    <tr>
        <th>Point Name</th><th>Type</th><th>Location</th><th>Forced</th><th>Value</th>
    </tr>
</thead>

<tbody>
{% for row in c.debug_vars %}
<tr>
    <td>{{row.name}}</td>
    <td>{{row.type}}</td>
    <td>{{row.location}}</td>
    <td>{{row.forced}}</td>
    <td>
         {% if row.type == 'BOOL'  %}
            <i class="fa fa-circle flag_{% if row.value == 0 %}false{%else%}true{% endif %}"></i>
        {% else %}
        {% set percentage = (row.value * 100) / 65535 %}
        {{ '%2d' % percentage}}% - {{row.value}}
        {% endif %}

    </td>
</tr>
{% endfor %}
</tbody>


</table>
{% endblock content %}