
{% extends "BASE.html" %}

{% set title = "User" %}


{% block content %}
    <form action="/program/{{c.user_id}}" method="POST">
        <div class="form-group">
            <label for='name'>Name</label>
            <input type='text' class="form-control" id='name' name='name'
                   value="{{c.program.name}}"  required  minlength="2">
        </div>

        <div class="form-group">
            <label for='description'>Description</label>
            <textarea class="form-control" id='description' description='name'>{{c.program.description}}</textarea>

        </div>
        <div class="form-group">
            <label for="file">Password</label>
            <input type='text' class="form-control" id='file' name='file'   value="{{c.program.file}}" minlength="4">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value='Save user' class="btn btn-success">
        </div>
    </form>

{% endblock content %}