
{% extends "BASE.html" %}

{% set title = "Add New Device" %}



{% block content %}

<form id="uploadForm" action="/slave/add" method="POST" onsubmit="return validateForm()">
<div class="row">
    <div class="col">

        <div class="form-group">
            <label for='dev_name'>Device Name</label>
            <input type='text' class="form-control" id='dev_name' name='device_name' required>
        </div>

        <div class="form-group">
            <label for='dev_protocol'>Device Type</label>
            <select id='dev_protocol' class="form-control" name='device_protocol'>
                {% for dp in c.DEVICE_PROTOCOLS %}
                    <option {% if dp.protocol == 1 %} selected='selected'{%endif%} value='{{dp.protocol}}'>{{dp.label}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for='dev_id'>Slave ID</label>
            <input type='number' class="form-control" id='dev_id' name='device_id' placeholder='0' required>
        </div>

        <div id="tcp-stuff">
            <div class="form-group">
                <label for='dev_ip'>IP Address</label>
                <input type='text' class="form-control" id='dev_ip' name='device_ip' placeholder='192.168.0.1'>
            </div>
            <div class="form-group">
                <label for='dev_port'>IP Port</label>
                <input type='number' class="form-control" id='dev_port' name='device_port' placeholder='502'>
            </div>
        </div>
        <div id="rtu-stuff">
            <div class="form-group">

                <label for='dev_cport'>COM Port</label>
                <select id='dev_cport' class="form-control" name='device_cport'>
                </select>
            </div>
             <div class="form-group">
                <label for='dev_baud'>Baud Rate</label>
                <input type='number' class="form-control" id='dev_baud' name='device_baud' placeholder='19200'>
             </div>
             <div class="form-group">
                <label for='dev_parity'>Parity</label>
                <select id='dev_parity' class="form-control" name='device_parity'>
                    <option value='None'>None</option>
                    <option value='Even'>Even</option>
                    <option value='Odd'>Odd</option>
                </select>
             </div>
             <div class="form-group">
                <label for='dev_data'>Data Bits</label>
                <input type='number' class="form-control" id='dev_data' name='device_data' placeholder='8'>
             </div>
             <div class="form-group">
                <label for='dev_stop'>Stop Bits</label>
                <input type='number' class="form-control" id='dev_stop' name='device_stop' placeholder='1'>
             </div>
        </div>



    </div>
    <div class="col">

        {% for rec in c.IO_PREFIXES %}
        <fieldset>
            <legend>{{rec.label}}</legend>
            <div class="form-group row">
                <label for='{{rec.prefix}}_start' class="col-sm-4 col-form-label">Start Address:</label>

                <div class="col-sm-2">
                        <input type='text' class="form-control" ddstyle='width: 20%' id='{{rec.prefix}}_start' name='{{rec.prefix}}_start' placeholder='0'>
                </div>
                <label for='{{rec.prefix}}_size' class="col-sm-4 col-form-label">Size:</label>
                <div class="col-sm-2">
                        <input type='text' class="form-control" ddstyle='width: 20%' id='{{rec.prefix}}_size' name='{{rec.prefix}}_size' placeholder='8'>
                </div>
            </div>
        </fieldset>
        {% endfor %}

    </div>
</div>
     <center><input type="submit" class="button" style="font-weight:bold; width: 310px; height: 53px; margin: 0px 20px 0px 20px;" value='Save device'></center>
</form>


<script type="text/javascript" src="/static/js/slave_edit.js"></script>

{% endblock content %}