
{% extends "BASE.html" %}

{% set title = "Program" %}


{% block content %}



    <form action="/program/{{c.prog_id}}" method="POST">
        <div class="form-group">
            <label for='username'><b>Login ID</b></label>
            <input type='text' class="form-control" id='username' name='username'
                   value="{{c.user.username}}" placeholder='eg jblogs' required  minlength="2">
        </div>

        <div class="form-group">
            <label for='name'><b>Name</b></label>
            <input type='text' class="form-control" id='name' name='name'
                    value="{{c.user.username}}" placeholder='eg Nungu SmithAno' required>
        </div>
        <div class="form-group">
            <label for='email'><b>Email</b></label>
            <input type='email' class="form-control" id='email' name='email'  value="{{c.user.email}}">
        </div>
        <div class="form-group">
            <label for="xpasswd"><b>Password</b></label>
            <input type='text' class="form-control" id='xpasswd' name='xpasswd'   value="{{c.user.password}}" minlength="4">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value='Save user' class="btn btn-success">
        </div>
    </form>


{% endblock content %}