
{% extends "BASE.html" %}

{% set title = "Users" %}

{% block content %}

<table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr style='background-color: white'>
            <th>Login</th><th>Full Name</th><th>Email</th><th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for row in c.users %}
          <tr>
              <td><i class="fa fa-user"></i>&nbsp;<b>{{row.username}}</b></td>
                <td>{{row.name}}</td>
                <td>{{row.email}}</td>
                <td width="10"><a class="btn btn-success btn-sm" href="/user/{{row.user_id}}">Edit</a></td>
          </tr>
        {% endfor %}
    </tbody>
</table>

<a href="/user/0" class="btn btn-primary">New user</a>

{% endblock content %}

