
{% extends "BASE.html" %}

{% set title = "User" %}


{% block content %}

<div class="let_me_in">
    <form action="/user/add" method="post">
        <div class="form-group">
            <label for='username'><b>Login ID</b></label>
            <input type='text' id='username' name='username' placeholder='username'>
        </div>

        <div class="form-group">
            <label for='name'><b>Name</b></label>
            <input type='text' id='name' name='oplc_name' placeholder='eg Nungu SmithAno'>
        </div>
        <div class="form-group">
            <label for='email'><b>Email</b></label>
            <input type='text' id='email' name='oplc_email' placeholder='mypi@rhubarb.ky'>
        </div>
        <div class="form-group">
            <label for="x_secret_combo_of_characters"><b>Password</b></label>
            <input type='text' id='x_secret_combo_of_characters' name='xpasswd' placeholder='password'>
        </div>
        <div class="form-group">
            <input type="submit" class="button" value='Save user' class="btn btn-success">
        </div>
    </form>
</div>
{% endblock content %}