p {
  font-size: 20px;
}

.addModbus {
  width: 310px;
  height: 53px;
  margin: 0px 20px 0px 20px;
}

.buttonContainer {
  display: flex;
  margin-top: 38px;
}

.edit {
  font-weight: bold;
  height: 53px;
  flex: 1;
  margin-right: 50px;
}

.selectedBarIcon {
  margin-top: 7.5px !important;
}

.leftFields {
  float: left;
  width: 45%;
}

.bitWrapper {
  display: flex;
}

.bitWrapper > *:first-child {
  margin-left: 0px !important;
}

.bitWrapper > *:last-child {
  margin-right: 0px !important;
}

.bitItem {
  margin: 0px 5px;
}

#uploadForm > *,
#tcp-stuff > *,
#rtu-stuff > * {
  margin: 10px 0px;
}

.rightFields {
  float: right;
  width: 45%;
}

.fieldsColumn {
  height: 665px;
  margin-bottom: 20px;
}

.disabled {
  background-color: rgb(248, 248, 248);
  color: rgb(156, 156, 156);
}

.mapping {
  width: 20% !important;
}

.saveDevice {
  font-weight: bold;
  width: 310px;
  height: 53px;
  display: block;
  margin: auto;
}

.tableHeader {
  background-color: white;
}

#sizeLabel {
  padding-left: 20px;
}

#discInputs {
  margin-top: 0px;
}

#tcp-stuff {
  display: none;
}

#rtu-stuff {
  display: block;
}
